
.tr:nth-child(even):hover{
    background-color: aqua;
}

.tr:nth-child(odd):hover{
    background-color: blue;
    color: white;
}

.tr{
    background-color: antiquewhite;
    text-align: center;
}
table{
    width: 500px;
}

/* .tdcheckbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:3rem;
} */
